.table-container {
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.requerimiento-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Raleway', sans-serif;
}

.requerimiento-table th,
.requerimiento-table td {
    padding: 10px;
    text-align: center;
}

.requerimiento-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.requerimiento-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.requerimiento-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Raleway', sans-serif;
}


.requerimiento-table th,
.requerimiento-table td {
    padding: 10px;
    text-align: center;
}


.requerimiento-table tr {
    border-bottom: 1px solid #ddd;
}

.edit-icon,
.delete-icon {
    cursor: pointer;
    margin-right: 10px;
}

.edit-icon {
    color: #4caf50;
}

.delete-icon {
    color: #f44336;
}


@media (max-width: 768px) {

    .requerimiento-table th,
    .requerimiento-table {
        font-size: 12px;
    }
}