.forms-title {
    color: #26364e;
    margin-bottom: 24px;
    font-family: 'Raleway', sans-serif;
    font-size: 3.052rem;
    line-height: 120%;
    letter-spacing: 3px;
    font-weight: 500;
    text-align: center;
  }
  
  .button-container {
    display: flex;
    margin-bottom: 20px;
    padding-right: 20px;
    justify-content: center;
  }
  
  .forms-add-button {
    padding: 10px;
    background-color: var(--primary-500);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
  }
  
  .forms-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .table-container {
    margin-top: 40px;
    padding: 20px;
  }
  
  .forms-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .forms-table th,
  .forms-table td {
    padding: 12px 15px;
    text-align: left;
  }
  
  .forms-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .forms-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .forms-table td {
    border-bottom: 1px solid #ddd;
  }
  
  .edit-icon,
  .delete-icon {
    cursor: pointer;
    margin-right: 10px;
  }
  
  .edit-icon {
    color: #4caf50;
  }
  
  .delete-icon {
    color: #f44336;
  }
  